body {
    font-family: "SF UI Text";
}

.wrap {
    width: 900px;
    height:3400px;
    margin: 0 auto;
}

.menu {
    position: fixed;
    left: 50%;
    margin-left: 450px;
    margin-top: 200px;
    width: 80px;
}

.menu li {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    color: #000;
    text-decoration: none;
}

.menu li a:hover, .menu .current a {
    background: #1ba1ff;
    color: #ffffff;
}

.content .item {
    width: 100%;
    height: 600px;
    background: #0000ff;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 600px;
    font-weight: bold;
}

#item1 {
    background: #ff8e8d;
}

#item2 {
    background: #fff79c;
}

#item3 {
    background: #98e0ff;
}

#item4 {
    background: #98ff9d;
}

#item5 {
    background: #dd7aff;
}
