@charset "UTF-8";
/*全站公共样式*/

body {
    font: 11px/150% Arial, Verdana;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
}

.wrapper-fluid {
    width: 100%;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

.hide {
    display: none;
}

#header {
    background: #f7f7f7;
}

.top-bar {
    height: 30px;
    border-bottom: #eee 1px solid;
    line-height: 31px;
}

.top-bar .left {
    font-weight: bold;
    background: url("../img/icon/star.jpg") no-repeat center left;
    padding-left: 20px;
}

.top-bar .right {
    margin-right: 60px;
}

.top-bar a:hover {
    color: #ff8c00;
}

.logo-bar {
    height: 85px;
    color: #fff;
}

.logo {
    height: 66px;
    margin-top: 9.5px;
    margin-left: 40px;
}

.search {
    margin-top: 25px;
    margin-left: 185px;
    height: 35px;
}

.search input {
    border: none;
    height: 35px;
    vertical-align: bottom;
}

.search input:focus {
    outline: none;
}

.search .key {
    width: 340px;

    padding: 0 10px;
    font-size: 15px;
}

.search input[type=button] {
    background: #ff8c00;
    font-size: 14px;
    color: #fff;
    width: 70px;
    letter-spacing: 2px;
}

.search input[type=button]:hover {
    cursor: pointer;
}

.shopping-cart {
    margin-right: 60px;
    background: #ff8c00;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin-top: 25px;
}

.shopping-cart a {
    color: #fff;
}

.shopping-cart span {
    height: 35px;
    display: inline-block;
}

.shopping-cart span:hover {
    cursor: pointer;
}

.shopping-cart .cart {
    background: url("../img/icon/cart.jpg") no-repeat center left;
    padding: 0 5px 0 25px;
    border-right: 1px solid #e27a00;
}

.shopping-cart .count {
    background: url("../img/icon/down.jpg") no-repeat center right;
    padding-right: 15px;
    margin-left: 10px;
}

.logo, .search, .shopping-cart {
    display: inline-block;
}

#header .logo-bar {
    background: #1d7ad9;
}

#header .nav {
    background: #1369c0;
}

.nav {
    color: #fff;
    height: 35px;
    line-height: 35px;
}

.nav h3 {
    display: inline-block;
    font-weight: bold;
    width: 190px;
    /*background: url("../img/icon/down1.jpg") no-repeat center right;*/
    text-align: center;
    cursor: pointer;
    float: left;
}

.drop-down {
    width: 11px;
    height: 7px;
    display: inline-block;
    margin-left: 10px;
    background: url("../img/icon/down1.jpg") no-repeat center;
}

.nav .wrapper {
    position: relative;
}

.nav ul {
    float: left;
    cursor: pointer;
}

.nav ul li {
    float: left;
}

.nav ul {
    height: 35px;
}

.nav ul li {
    width: 100px;
    text-align: center;
}

.nav ul li a {
    color: #fff;
}

.current, .nav ul li:hover {
    background: #4593fd;
}

#main .wrapper {
    /*height: 1000px;*/
    position: relative;
}

.carousel {
    width: 810px;
    height: 348.19px;
    position: relative;
    float: right;
    z-index: 10;
    vertical-align: bottom;
    overflow: hidden;
}

.list {
    width: 4860px;
    position: absolute;
    left: -810px;
    top: 0;
}

.list img {
    max-width: 810px;
    height: 352.73px;
    float: left;
}

.buttons {
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 10;
    width: 150px;
    height: 20px;
    margin-left: -50px;
    text-align: center;
    opacity: 0.7;
}

.buttons span {
    display: inline-block;
    width: 20px;
    height: 5px;
    margin: 0 4px;
    background: #fff;
    cursor: pointer;
}

.buttons span.on {
    background: #ff7700;
}

.arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 10;
    width: 25px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: #fff;
    display: none;
}

.arrow:hover {
    cursor: pointer;
}

.carousel:hover .arrow {
    display: inline-block;
}

.carousel:hover .buttons {
    opacity: 1;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.5);
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

.vertical-gap10px {
    clear: both;
    height: 10px;
}

.vertical-gap30px {
    clear: both;
    height: 30px;
}

.vertical-gap10px {
    clear: both;
    height: 10px;
}

.aside {
    float: left;
    width: 185px;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
}

.aside h2 {
    text-align: center;
    /* margin: 6px 0; */
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #cdcdcd;
    font-size: 14px;
}

.aside div {
    padding: 4px 0px;
    border-top: 1px dotted #d7d7d7;
}

.aside div.first-child {
    border-top: none;
}

.aside h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 20px;
    margin-bottom: 5px;
}

.aside ul li a:hover {
    color: #4593fd;
}

/*页脚*/
#footer {
    width: 100%;
    height: 225px;
    background: #d4d4d4;
    text-align: center;
}

#footer ul {
    display: inline-block;
    margin-top: 55px;
}

#footer ul li {
    display: inline-block;
    margin: 0 2px;
}

#footer p {
    line-height: 30px;
}

#footer p span {
    margin: 0 10px;
}

#footer p img {
    margin: 10px 5px;
}

/*产品列表*/
.products {
    float: right;
    width: 810px;
    margin-top: 15px;
}

.products ul {
    float: right;
    width: 100%;
}

.products ul li {
    width: 25%;
    float: left;
    text-align: center;
    padding: 10px 0;
}

.products ul li.top-item {
    border-top: 2px solid #cccccc;
}

.products ul li img {
    max-width: 150px;
    margin-bottom: 10px;
}

.products ul li .desc:hover {
    color: #4593fd;
}

.products ul li .star span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/icon/star2.jpg") no-repeat center center;
}

.products ul li .comment {
    color: #096dba;
}

.products ul li p {
    text-align: left;
    padding: 0px 30px;
}

.products ul li .price {
    color: #d4105a;
}

.products ul li:hover {
    box-shadow: 1px 1px 3px #ddd, -1px -1px 3px #ddd;
}

