@charset "UTF-8";

.breadcrumbs {
    margin: 10px 0;
}

.breadcrumbs a:first-child {
    font-weight: bold;
}

.breadcrumbs a:first-child + span {
    font-weight: bold;
}

.breadcrumbs span {
    margin: 0 2px;
}

.breadcrumbs a:hover {
    color: #1d7ad9;
}

.display {
    border: 1px solid #ccc;
    float: left;
}

.display .pictures {
    width: 308px;
}

.display .parameter-settings {
    width: 689px;
    border-left: 1px solid #ccc;
}

.pictures .main-picture {
    width: 300px;
    height: 260px;
    text-align: center;
    margin-left: 4px;
    padding-top: 35px;
}

.pictures .main-picture img {
    max-width: 300px;
    max-height: 260px;
}

.small-pictures {
    margin: 50px 0;
}

.small-pictures ul li {
    float: left;
    width: 50px;
    height: 50px;
    outline: 1px solid #ccc;
    cursor: pointer;
    padding: 1px 0;
    margin-left: 4px;
}

.small-pictures ul li.active {
    outline: 1px solid #1d7ad9;
}

.small-pictures ul li img {
    max-width: 50px;
    max-height: 50px;

}

.small-pictures ul {
    width: 272px;
    text-align: center;
    height: 52px;
    margin: 0 auto;
}

.parameter-settings h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 30px 20px;
    margin-right: 10px;
}

.parameter-settings dl {
    margin: 10px 0;
}

.parameter-settings dl dt {
    margin-left: 20px;
    display: inline-block;
    width: 50px;
    text-align: left;
    margin-right: 20px;
}

.parameter-settings dl dd {
    display: inline-block;
}

.parameter-settings dl dd.price {
    color: #e01e1e;

}

.parameter-settings dl dd.price span {
    font-size: 20px;
}

.parameter-settings dl dd.preferential span {
    background: url("../img/icon/shopping.png") no-repeat center left;
    display: inline-block;
    width: 55px;
    color: #fff;
    line-height: 18px;
    padding-left: 3px;
    text-align: center;
    height: 18px;
}

.parameter-settings .parameter-choices {
    background: #f2f2f2;
    margin: 10px;
    padding: 10px 0;
}

.parameter-settings .parameter-choices dl dt {
    margin-left: 10px;
}

.parameter-choices .address {
    display: inline-block;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: default;
}

.parameter-choices .address span {
    display: inline-block;
    width: 9px;
    height: 6px;
    background: url("../img/icon/down3.png") no-repeat center center;
    margin: 0 2px;
}

.parameter-choices .address + span {
    margin-left: 20px;
}

.parameter-choices ul li {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
}

.parameter-choices .color ul li {

    padding: 7px 25px;
}

.parameter-choices ul li.active {
    border: 1px solid #1d7ad9;
}

.parameter-choices .specification ul li {
    padding: 3px 6px;
    margin-bottom: 8px;
}

.parameter-choices .specification {
    vertical-align: top;
}

.parameter-choices .specification ul {
    width: 575px;
}

.parameter-choices .spec {
    vertical-align: top;
}

.parameter-choices .reduce, .parameter-choices .add {
    display: inline-block;
    width: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #eee;
    cursor: pointer;
}

.parameter-choices .reduce {
    border-right: 1px solid #ccc;
}

.parameter-choices .add {
    border-left: 1px solid #ccc;
}

.parameter-choices .reduce + input {
    width: 50px;
    height: 25px;
    border: none;
    font-size: 14px;
    text-align: center;
}

.parameter-choices .reduce + input:focus {
    outline: none;
}

.parameter-choices .number > span:first-child {
    display: inline-block;
    border: 1px solid #ccc;
    background: #fff;
    margin-right: 20px;
}

.parameter-settings .result {
    color: #000;
    margin: 30px;
}

.parameter-settings .result span {
    color: #1d7ad9;
    margin-left: 5px;
}

.parameter-settings .action > span {
    background: #ff8c00;
    color: #fff;
    font-size: 16px;
    padding: 15px 40px;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.parameter-settings .action {
    margin-left: 100px;
}

.parameter-settings .action > span > span {
    display: inline-block;
    width: 23px;
    height: 20px;
    background: url("../img/icon/cart.jpg") no-repeat center center;
}

.parameter-settings .tips {
    color: #999;
    margin: 30px;
}

.aside {
    width: 190px;
    border: none;
}

.aside div {
    border-top: none;
    padding: 0;
    border: 1px solid #ccc;
}

.aside .same-price {
    border-top: 3px solid #1d7ad9;
}

.aside div h3 {
    background: #f7f7f7;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.aside div ul li a {
    display: block;
    text-align: center;
}

.aside div ul li {
    width: 150px;
    margin: 0 auto;
}

.aside div ul li img {
    max-width: 120px;
    max-height: 120px;
}

.aside div ul li p {
    text-align: left;
}

.aside div ul li p.desc {
    margin-top: 10px;
    color: #999;
}

.aside div ul li p.price {
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
}

.aside .final-buy {
    margin-top: 20px;
}

.description-comment, .advisory {
    width: 785px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-bottom: 30px;
}

.description-comment .menu {
    height: 41px;
}

.description-comment .menu li {
    width: 50%;
    float: left;
    background: #f7f7f7;
    height: 40px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.description-comment .menu li.active {
    background: #1d7ad9;
    color: #fff;
    border-bottom: 1px solid #1d7ad9;
}

.description-comment .menu img {
    /* margin-top: 13px; */
    vertical-align: middle;
    margin-right: 10px;
}

.description .activity {
    width: 100%;
    text-align: center;
}

.description h4 {
    font-size: 13px;
    font-weight: bold;
    color: #1d7ad9;
    margin-left: 20px;
    margin-top: 20px;
}

.description h4 span {
    font-size: 10px;
    color: #999;
}

.description p {
    margin: 0 20px;
}

.description .line {
    display: inline-block;
    height: 2px;
    width: 100%;
    margin-left: 19px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.description .line .blue {
    display: inline-block;
    width: 70px;
    height: 100%;
    float: left;
    background: #1e7ad9;
}

.description .line .grey {
    display: inline-block;
    height: 100%;
    width: 680px;
    background: #ccc;
    float: left;
}

.description .show-picture {
    text-align: center;
}

.description .show-picture img {
    max-width: 100%;
}

.comment h3 {
    font-size: 13px;
    font-weight: bold;
    margin: 13px 10px;
}

.score {
    margin: 30px 10px;
}

span.score-number {
    color: darkorange;
    font-size: 35px;
}

.score-number + span {
    font-size: 15px;
}

p.review {
    display: inline-block;
    width: 450px;
    color: #fff;
    background: #aaa;
    margin-left: 10px;
    vertical-align: top;
    position: relative;
}

p.review span {
    margin: 0 23px;
}

p.summary {
    display: inline-block;
    margin-left: 100px;
}

.comment .result {
    display: inline-block;
    position: relative;
    top: 13px;
    width: 80px;
}

p.review span.number {
    position: absolute;
    top: -25px;
    right: 5px;
    background: #aaa;
    padding: 0px 3px;
    margin: 0;
}

p.review span.number span {
    height: 0px;
    position: absolute;
    width: 0px;
    bottom: -4px;
    left: 50%;
    margin: 0;
    margin-left: -3px;
    border-top: solid 5px #aaa;
    border-left: solid 5px rgba(0, 0, 0, 0);
    border-right: solid 5px rgba(0, 0, 0, 0);
}

.comment-tab {
    background: #eee;
    color: #333;
    float: left;
    width: 100%;
    /* height: 31px; */
    line-height: 30px;
}

.comment-tab ul {
    display: inline-block;
}

.comment-tab li {
    display: inline-block;
    cursor: pointer;
}

.comment-tab ul.review {
    float: left;
}

.comment-tab ul.sort {
    float: right;
    margin-right: 20px;
}

.comment-tab .review li {
    margin: 0 10px;
}

.review li.active {
    border-bottom: 2px solid #1d7ad9;
}

.user-comments {
    float: left;
}

.user-comments dl {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 20px;
}

.user-comments dt {
    float: left;
    text-align: center;
    margin-right: 65px;
    margin-left: 40px;
    margin-top: 10px;
}

.user-comments dd {
    float: left;
    width: 590px;
    position: relative;
}

dd .stars {
    margin-bottom: 10px;
}

dd .stars span.star {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/icon/star2.jpg");
}

p.stars span.user-score, p.stars span.level {
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}

p.comment-content {
    line-height: 18px;
}

.user-comments time {
    position: absolute;
    top: 0;
    right: 0;
}

.action {
    margin-top: 10px;
}

.action span {
    cursor: pointer;
    color: #2988de;
    margin-right: 10px;
}

.pages {
    text-align: right;
}

.pages p {
    display: inline-block;
}

.page-num {
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

.page-num a {
    text-decoration: none;
    color: #666;
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin: 0 3px;
}

.page-num a.current {
    background: #ddd;
    color: red;
}

.pages input[type=text] {
    width: 20px;
}

.pages input[type=button] {
    border: none;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.advisory {
    border: none;
}

.advisory h3 {
    vertical-align: bottom;
    font-size: 13px;
    width: 130px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    color: #1d7ad9;
    display: inline-block;
    /* padding: 10px 0; */
    border: 1px solid #1d7ad9;
    border-bottom: none;
}

.advisory .title-bar a {
    width: 653px;
    display: inline-block;
    text-align: right;
    color: #1d7ad9;
    /* padding-right: 10px; */
    /* margin-right: 10px; */
    vertical-align: bottom;
    border-bottom: 1px solid #1d7ad9;
}

.advisory .title-bar {
    width: 100%;
    height: 40px;
    vertical-align: bottom;
}

.advisory .advisory-content {
    padding: 10px 20px;
    border: 1px solid #1d7ad9;
    border-top: none;
}

.advisory .advisory-content > p {
    background: #eee;
    padding: 10px 20px;
}
.user-advisory dl{
    margin-top: 20px;
}

.user-advisory dl dt {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    vertical-align: top;
}

.user-advisory dl dd {
    display: inline-block;
    width: 600px;
    position: relative;
}

.user-advisory {
    padding: 0px 0 20px 30px;
}

.user-advisory dl dd > span {
    color: #333;
    font-weight: bold;
}

.user-advisory dl dd > p {
    line-height: 20px;
}

.user-advisory dl dd .advisory-question {
    margin-top: 10px;
}

.user-advisory dl dd .advisory-answer {
    background: #eee;
    padding: 20px 25px;
    border-radius: 5px;
    margin-top: 13px;
}

.user-advisory dl dd time {
    position: absolute;
    top: 0;
    right: 0;
}